@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?y17xxj");
  src: url("../fonts/icomoon.eot?y17xxj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?y17xxj") format("truetype"), url("../fonts/icomoon.woff?y17xxj") format("woff"), url("../fonts/icomoon.svg?y17xxj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-widok_01:before {
  content: "\e908";
}

.icon-widok_02:before {
  content: "\e909";
}

.icon-wysylka:before {
  content: "\e90a";
}

.icon-x:before {
  content: "\e90b";
}

.icon-icon_061:before {
  content: "\e90c";
}

@font-face {
  font-family: "Metropolis-bold";
  src: url(../fonts/Metropolis-Bold.otf);
}
@font-face {
  font-family: "Metropolis";
  src: url(../fonts/Metropolis-Light.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
  padding: 0 15px;
}

header {
  flex-direction: column;
  height: 140px;
  font-family: "Metropolis-bold";
  text-transform: uppercase;
}
header .header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  border-bottom: 1px solid #e1e2e3;
}
header .header__top img {
  display: flex;
  width: 100%;
}
header .header__searchBar {
  width: 100%;
  height: 50%;
}
header .header__searchBar .header__searchBarBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .header__searchBar .header__searchBarBottom .input__searchBar {
  width: 13.875rem;
  height: 2.8125rem;
  text-align: center;
  font-size: 17px;
  border: 1px solid rgba(50, 57, 68, 0.3);
}
header .menuBar {
  background-color: #333333;
  font-family: Metropolis, Arial, sans-serif;
  text-transform: uppercase;
  z-index: 20;
}
header .menuBar .menuBar__stickyBottom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-size: 23px;
  border: 1px solid #e1e2e3;
  z-index: 20;
}
header .menuBar .box__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 68px;
  border-right: 1px solid #e1e2e3;
  text-align: center;
  transition: 0.3s;
}
header .menuBar .box__menu .box__item {
  font-size: 11px;
  padding: 3px;
  margin-bottom: -4px;
}
header .menuBar .shopping__cart {
  border: 0;
}

.hamburger {
  position: fixed;
  top: 0;
  left: -800px;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-transform: uppercase;
  opacity: 0;
  z-index: 2;
}
.hamburger .hamburger__category {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 14.8%;
  font-size: 17px;
  border-bottom: 1px solid #e1e2e3;
  font-family: "Metropolis-bold";
}
.hamburger .hamburger__category .hamburger__arrow {
  width: 10%;
  margin-left: 5%;
  margin-right: 4%;
}
.hamburger .hamburger__category .hamburger__arrow .icon-icon_05 {
  font-size: 13px;
  border: 0;
  background-color: #ffffff;
}
.hamburger .hamburger__category .hamburger__x {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 13px;
}
.hamburger .hamburger__category .hamburger__x .icon-x {
  padding: 13px;
  font-size: 10px;
  background-color: #f3f1f1;
  border: 0;
}
.hamburger .hamburger__searchBar {
  width: 100%;
  display: inline;
  justify-content: center;
  align-items: center;
}
.hamburger .hamburger__searchBar .input__hamburger {
  height: 45px;
  width: 92%;
  text-indent: 20px;
  font-size: 15px;
  margin: 10px;
  border: 1px solid rgba(50, 57, 68, 0.3);
}
.hamburger .hamburger__menu {
  width: 95%;
  height: 52%;
  margin-left: 11px;
}
.hamburger .hamburger__menu .items__list {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e2e3;
  font-family: Metropolis, Arial, sans-serif;
}
.hamburger .hamburger__menu .items__list .products__ExpanderArrow {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: end;
}
.hamburger .hamburger__menu .items__list .products__ExpanderArrow .expander__arrow {
  position: fixed;
  top: 29%;
  padding: 10px;
  border-left: 1px solid #e1e2e3;
}
.hamburger .hamburger__menu .items__list .products__ExpanderArrow .expander__arrow .icon-icon_04 {
  background-color: #ffffff;
  border: 0;
}
.hamburger .hamburger__language {
  width: 50%;
  font-size: 15px;
  display: flex;
  padding: 13px;
  margin: 1px;
  background-color: #ffffff;
}
.hamburger .hamburger__language .language__items {
  border-left: 1px solid #e1e2e3;
  padding-left: 6px;
  font-family: Metropolis, Arial, sans-serif;
}

.hamburger__productsMenu {
  position: fixed;
  top: 0;
  left: -800px;
  height: 87.9%;
  width: 85%;
  background-color: #ffffff;
  text-transform: uppercase;
  transition: 0.9s;
  opacity: 0;
  z-index: 2;
}

main {
  width: 100%;
  height: 1500px;
  background-color: #f2f3f4;
}
main .main__swiper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
main .slider__slide {
  display: none;
  z-index: 0;
}
main .slider__slide img {
  width: 100%;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
}
main .slider__dots {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
main .slider__dots .slider__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
main .slider__dots .active,
main .slider__dots .slider__dot:hover {
  background-color: #f74137;
}
main .slider__dots .slider__transiton {
  transition: 1s;
}
main .banner__container {
  height: 100%;
}
@media (min-width: 768px) {
  main .banner__container {
    display: flex;
  }
}
main .banner__container img {
  width: 100%;
}
main .banner__container .banner__emptyField {
  padding-bottom: 8px;
}
main .banner__container .banner__item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
main .banner__container .banner__item .banner__textContainer {
  position: absolute;
  left: 0%;
  top: -11%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-family: Metropolis, Arial, sans-serif, "sans-seriff";
  color: #ffffff;
  z-index: 1;
}
main .banner__container .banner__item .banner__textContainer p {
  padding-left: 5%;
}
main .banner__container .banner__item .banner__textContainer p .heading {
  font-weight: bold;
  font-size: 1.5em;
}
main .banner__container .banner__item .banner__textContainer p .text {
  font-size: 1.2em;
}
main .banner__container .banner__item .banner__textContainer p .seeMore {
  position: absolute;
  bottom: 12%;
  left: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18%;
  width: 40%;
  background-color: transparent;
  border: 1px solid #e1e2e3;
  font-size: 0.8em;
  transition: 0.3s;
  background-color: tomato;
}
main .banner__container .banner__item .banner__textContainer p .seeMore:hover {
  background: tomato;
  transition: 0.3s;
}
main .banner__container .banner__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}
main .main__productsBanner {
  width: 100%;
  height: 650px;
}
main .main__productsBanner .products__TitleHeader {
  position: relative;
  width: 100%;
  height: 10%;
  font-family: "Metropolis-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1e2e3;
}
main .main__productsBanner .products__TitleHeader::after {
  background-color: #f74137;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 2.5rem;
}
main .main__productsBanner .products__container .products__sliderBulbs {
  display: flex;
  column-gap: 10px;
  max-width: 100%;
  overflow: auto;
  width: 1000px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer {
  min-width: 320px;
  width: 300px;
  height: 520px;
  background-color: #ffffff;
  margin-top: 31px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__picutreTile {
  width: 100%;
  height: 50%;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__picutreTile img {
  width: 100%;
  height: 100%;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__producentName {
  height: 20px;
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__producentName .brand__Name {
  font-family: Metropolis, Arial, sans-serif;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileName {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
  margin-top: 60px;
  text-transform: uppercase;
  padding: 5px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileName .bulb__Name {
  font-family: "Metropolis-bold";
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileCode {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileCode .productCode__Code {
  font-family: Metropolis, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  letter-spacing: -0.28px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice .price__startingPrice {
  font-family: Metropolis, Arial, sans-serif;
  color: #a3a3a3;
  text-decoration: line-through;
  padding: 3px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice .price__promotionPrice {
  font-family: "Metropolis-bold";
  padding: 3px;
}

.onclick-switch {
  opacity: 1;
  transform: translatex(800px);
}

.WhyUs .WhyUs__photo {
  position: relative;
  position: relative;
  background-image: url(/photos/img_02.jpg);
  width: 100%;
  height: 550px;
  height: 550px;
  margin-top: 10%;
  background-attachment: fixed;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65%;
}
.WhyUs .WhyUs__photo::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 50%;
  background-position: 65%;
}
.WhyUs .WhyUs__shadow::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 50%;
}
.WhyUs .WhyUs__text--field {
  margin-left: 10%;
  height: 35%;
  height: 35%;
  width: 80%;
  overflow: hidden;
}
.WhyUs .WhyUs__text--field p {
  margin-top: 4%;
  margin-top: 4%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  color: #fff;
  font-size: 15px;
  font-family: Metropolis, Arial, sans-serif;
  text-align: center;
  font-family: Metropolis, Arial, sans-serif;
  text-align: center;
}
.WhyUs .WhyUs__text--field p.bold {
  margin-top: 5%;
  margin-top: 5%;
  font-weight: bold;
  font-size: 25px;
  font-family: "Metropolis-bold";
  font-size: 25px;
  font-family: "Metropolis-bold";
}
.WhyUs .WhyUs__border--container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.WhyUs .WhyUs__border--text {
  height: 2px;
  width: 80%;
  width: 80%;
  background-color: #fff;
  opacity: 40%;
  z-index: 100;
  opacity: 40%;
  z-index: 100;
}
.WhyUs .WhyUs__border--rectangle {
  width: 73%;
  height: 3px;
  background-color: #F74137;
  z-index: 100;
  background-color: #F74137;
  z-index: 100;
}
.WhyUs .WhyUs__icons--container {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  gap: 5px;
}
.WhyUs .WhyUs__icon {
  width: 150px;
  width: 150px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 100;
}
.WhyUs .WhyUs__btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.WhyUs .WhyUs__company--info {
  width: 200px;
  height: 50px;
  background-color: #F74137;
  border: none;
  margin-top: 3%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
