@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?y17xxj");
  src: url("../fonts/icomoon.eot?y17xxj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?y17xxj") format("truetype"), url("../fonts/icomoon.woff?y17xxj") format("woff"), url("../fonts/icomoon.svg?y17xxj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-widok_01:before {
  content: "\e908";
}

.icon-widok_02:before {
  content: "\e909";
}

.icon-wysylka:before {
  content: "\e90a";
}

.icon-x:before {
  content: "\e90b";
}

.icon-icon_061:before {
  content: "\e90c";
}

@font-face {
  font-family: "Metropolis-bold";
  src: url(../fonts/Metropolis-Bold.otf);
}
@font-face {
  font-family: "Metropolis";
  src: url(../fonts/Metropolis-Light.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
  padding: 0 15px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 140px;
  font-family: "Metropolis-bold";
  text-transform: uppercase;
  margin-bottom: 10px;
}
header .header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  border-bottom: 1px solid #e1e2e3;
}
@media (min-width: 768px) {
  header .header__top {
    justify-content: flex-start;
    padding-bottom: 10px;
  }
}
header .header__top img {
  display: flex;
  width: 100%;
}
header .header__searchBar {
  width: 100%;
  height: 50%;
}
@media (min-width: 768px) {
  header .header__searchBar {
    display: none;
  }
}
header .header__searchBar .header__searchBarBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .header__searchBar .header__searchBarBottom .input__searchBar {
  width: 13.875rem;
  height: 2.8125rem;
  text-align: center;
  font-size: 17px;
  border: 1px solid rgba(50, 57, 68, 0.3);
}
header .header__categoryMenu {
  width: 100%;
  height: 57px;
  display: none;
  align-items: center;
  text-align: center;
  padding: 2px;
}
@media (min-width: 768px) {
  header .header__categoryMenu {
    display: flex;
  }
}
header .header__categoryMenu .category__item {
  width: 18%;
  font-size: 11px;
}
header .nav__subMenu {
  background-color: #F2F3F4;
  border: 1px solid #e1e2e3;
  width: 100%;
  height: 57px;
  display: none;
  font-family: Metropolis, Arial, sans-serif, "regular";
  align-items: center;
}
@media (min-width: 768px) {
  header .nav__subMenu {
    display: flex;
  }
}
header .nav__subMenu .subMenu__item {
  margin-left: 30px;
  font-size: 11px;
}
header .menuBar {
  font-family: Metropolis, Arial, sans-serif;
  text-transform: uppercase;
  z-index: 20;
}
header .menuBar .menuBar__stickyBottom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-size: 13px;
  border: 1px solid #e1e2e3;
  z-index: 20;
  left: 0;
}
@media (min-width: 768px) {
  header .menuBar .menuBar__stickyBottom {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: end;
    background-color: transparent;
    font-size: 12px;
    border: 0;
    width: 100%;
    font-family: "Metropolis-bold";
  }
}
header .menuBar .box__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  border-right: 1px solid #e1e2e3;
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 768px) {
  header .menuBar .box__menu {
    display: flex;
    border: 0;
    width: 12%;
  }
}
header .menuBar .box__menu a {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  header .menuBar .box__menu a {
    flex-direction: row;
    column-gap: 10px;
  }
}
@media (min-width: 768px) {
  header .menuBar .box__menu i {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  header .menuBar .box__menu span {
    height: 15px;
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  header .menuBar .box__menu--none {
    display: none;
  }
}
header .menuBar .box__item {
  font-size: 13px;
  padding: 3px;
  margin-bottom: -4px;
}
header .menuBar .shopping__cart {
  border: 0;
}

.hamburger {
  position: fixed;
  top: 0;
  left: -800px;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-transform: uppercase;
  opacity: 0;
  z-index: -1;
}
.hamburger .hamburger__category {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 14.8%;
  font-size: 17px;
  border-bottom: 1px solid #e1e2e3;
  font-family: "Metropolis-bold";
}
.hamburger .hamburger__category .hamburger__arrow {
  width: 10%;
  margin-left: 5%;
  margin-right: 4%;
}
.hamburger .hamburger__category .hamburger__arrow .icon-icon_05 {
  font-size: 13px;
  border: 0;
  background-color: #ffffff;
}
.hamburger .hamburger__category .hamburger__x {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 13px;
}
.hamburger .hamburger__category .hamburger__x .icon-x {
  padding: 13px;
  font-size: 10px;
  background-color: #f3f1f1;
  border: 0;
}
.hamburger .hamburger__searchBar {
  width: 100%;
  display: inline;
  justify-content: center;
  align-items: center;
}
.hamburger .hamburger__searchBar .input__hamburger {
  height: 45px;
  width: 92%;
  text-indent: 20px;
  font-size: 15px;
  margin: 10px;
  border: 1px solid rgba(50, 57, 68, 0.3);
}
.hamburger .hamburger__menu {
  width: 95%;
  height: 52%;
  margin-left: 11px;
}
.hamburger .hamburger__menu .items__list {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e2e3;
  font-family: Metropolis, Arial, sans-serif;
}
.hamburger .hamburger__language {
  width: 50%;
  font-size: 15px;
  display: flex;
  padding: 13px;
  margin: 1px;
  background-color: #ffffff;
}
.hamburger .hamburger__language .language__items {
  border-left: 1px solid #e1e2e3;
  padding-left: 6px;
  font-family: Metropolis, Arial, sans-serif;
}

main {
  width: 100%;
  background-color: #f2f3f4;
}
main .section__nav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
main .section__nav .nav__categoryMenu {
  max-width: 300px;
}
main .section__nav .nav__categoryMenu .products__brand {
  border: 1px solid #e1e2e3;
}
main .section__nav .nav__categoryMenu .products__brand .plugs {
  padding: 15px 10px;
  border: 1px solid #e1e2e3;
  border-bottom: 3px solid red;
  font-weight: bold;
}
main .section__nav .nav__categoryMenu .products__brand .bands {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.7rem;
}
main .section__nav .nav__categoryMenu .products__brand .bands .bands__item {
  padding: 13px 10px;
  border: 1px solid #e1e2e3;
  display: flex;
}
main .section__nav .nav__categoryMenu .products__filters {
  margin-top: 5px;
  border: 1px solid #e1e2e3;
}
main .section__nav .nav__categoryMenu .products__filters .filters {
  padding: 15px 10px;
  border-bottom: 3px solid red;
  font-weight: bold;
}
main .section__nav .nav__categoryMenu .products__filters .filters__parameter {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.7rem;
}
main .section__nav .nav__categoryMenu .products__filters .filters__parameter .filters__item {
  padding: 13px 10px;
  display: flex;
}
main .section__nav .nav__categoryMenu .products__producers {
  border: 1px solid #e1e2e3;
}
main .section__nav .nav__categoryMenu .products__producers .producers {
  padding: 15px 10px;
  border-bottom: 3px solid red;
  font-weight: bold;
}
main .section__nav .nav__categoryMenu .products__producers .producers__parameter {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.7rem;
}
main .section__nav .nav__categoryMenu .products__producers .producers__parameter .producers__item {
  padding: 13px 10px;
  display: flex;
}
main .section__nav .nav__categoryMenu .products__color {
  border: 1px solid #e1e2e3;
}
main .section__nav .nav__categoryMenu .products__color .color__title {
  padding: 15px 10px;
  border-bottom: 3px solid red;
  font-weight: bold;
}
main .section__nav .nav__categoryMenu .products__color .color__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
main .section__nav .nav__categoryMenu .products__color .color__list .color__item {
  display: flex;
  height: 40px;
  width: 40px;
  margin: 5px 5px;
}
main .section__nav .nav__categoryMenu .products__filterSize {
  border: 1px solid #e1e2e3;
}
main .section__nav .nav__categoryMenu .products__filterSize .filterSize__title {
  padding: 15px 10px;
  border-bottom: 3px solid red;
  font-weight: bold;
}
main .section__nav .nav__categoryMenu .products__filterSize .filterSize__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
main .section__nav .nav__categoryMenu .products__filterSize .filterSize__list .filterSize__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 35px;
  margin: 5px 5px;
  border: 1px solid #e1e2e3;
}
main .main__swiper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
main .slider__slide {
  display: none;
  z-index: 0;
}
main .slider__slide img {
  width: 100%;
  height: 200px;
}
main .slider__dots {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
main .slider__dots .slider__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
main .slider__dots .active,
main .slider__dots .slider__dot:hover {
  background-color: #f74137;
}
main .slider__dots .slider__transiton {
  transition: 1s;
}
main .main__productsBanner {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}
main .main__productsBanner .products__TitleHeader {
  position: relative;
  width: 100%;
  height: 10%;
  font-family: "Metropolis-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1e2e3;
}
main .main__productsBanner .products__TitleHeader::after {
  background-color: #f74137;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 2.5rem;
}
main .main__productsBanner .products__container {
  display: flex;
  height: 100%;
  position: relative;
}
main .main__productsBanner .products__container .products__sliderButtons {
  position: absolute;
  display: flex;
  width: 100%;
  height: 0.1px;
  opacity: 0.9;
  top: 250px;
  z-index: 1;
}
@media (min-width: 320px) {
  main .main__productsBanner .products__container .products__sliderButtons {
    display: none;
  }
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderButtons {
    display: flex;
  }
}
main .main__productsBanner .products__container .products__sliderButtons .button__leftArrow {
  position: absolute;
  left: 0;
  border: 1px solid #e1e2e3;
  background-color: #c1c2c6;
  color: #ffffff;
  width: 50px;
  height: 50px;
}
main .main__productsBanner .products__container .products__sliderButtons .button__rightArrow {
  position: absolute;
  right: 0;
  border: 1px solid #e1e2e3;
  background-color: #c1c2c6;
  color: #ffffff;
  width: 50px;
  height: 50px;
}
main .main__productsBanner .products__container .products__sliderBulbs {
  overflow-x: auto;
  width: 100%;
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderBulbs {
    overflow: hidden;
    position: absolute;
  }
}
main .main__productsBanner .products__container .products__sliderBulbs .product__sliderScroll {
  width: 100%;
  display: flex;
  column-gap: 10px;
  max-width: 100%;
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderBulbs .product__sliderScroll {
    transition: 1s;
  }
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer {
  min-width: 280px;
  height: 500px;
  background-color: #ffffff;
  margin-top: 31px;
  width: 100%;
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer {
    width: 20%;
  }
  main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer a:hover {
    background-color: #111111;
  }
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__picutreTile {
  width: 100%;
  height: 50%;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__picutreTile img {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileName {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
  margin-top: 110px;
  text-transform: uppercase;
  padding: 5px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileName .bulb__Name {
  font-family: "Metropolis-bold";
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileCode {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileCode .productCode__Code {
  font-family: Metropolis, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  letter-spacing: -0.28px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice .price__startingPrice {
  font-family: Metropolis, Arial, sans-serif;
  color: #a3a3a3;
  text-decoration: line-through;
  padding: 3px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice .price__promotionPrice {
  font-family: "Metropolis-bold";
  padding: 3px;
}
main .main__productsBanner .products__seeMoreContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
  width: 100%;
}
main .main__productsBanner .products__seeMoreContainer .seeMore__btn {
  width: 230px;
  height: 50px;
  background-color: #f74137;
  border: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
main .main__productsBanner .products__seeMoreContainer .seeMore__btn a {
  color: #ffffff;
}

footer .footer__container {
  position: relative;
  width: 100%;
  background-color: #393e40;
  bottom: 0;
}
@media (min-width: 768px) {
  footer .footer__container {
    display: flex;
    flex-direction: column;
  }
}
footer .footer__containerList {
  width: 100%;
  font-size: 14px;
  color: #ffffff;
}
@media (min-width: 768px) {
  footer .footer__containerList {
    display: flex;
  }
}
footer .footer__containerList .list__element {
  padding: 15px;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element {
    width: 25%;
  }
}
footer .footer__containerList .list__element .information__heading {
  position: relative;
  width: 100%;
  color: #ffffff;
  border-bottom: 1px solid #e1e2e3;
  font-family: "Metropolis-bold";
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer__containerList .list__element .information__heading .item__expandArrow {
  position: absolute;
  right: 0;
  margin-right: 15px;
  background-color: #393e40;
  border: 0;
  transform: rotate(90deg);
  transition: 0.6s;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element .information__heading .item__expandArrow {
    display: none;
  }
}
footer .footer__containerList .list__element .information__heading .item__expandArrow .icon-icon_05 {
  color: #ffffff;
  font-size: 17px;
}
footer .footer__containerList .list__element .information__heading .rotateArrow {
  rotate: 180deg;
}
footer .footer__containerList .list__element .information__heading::after {
  background-color: #f74137;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 1.875rem;
}
footer .footer__containerList .list__element .item__listContainer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element .item__listContainer {
    margin-top: 30px;
    display: flex;
  }
}
footer .footer__containerList .list__element .item__listContainer .elements__list {
  position: relative;
  font-family: Metropolis, Arial, sans-serif;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element .item__listContainer .elements__list {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer .footer__containerList .list__element .height__switch {
  height: 235px;
  display: flex;
}
footer .footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 70px;
  padding: 30px 15px 30px;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .footer__copyright {
    margin: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}
footer .footer__copyright .cpright__element {
  font-family: Metropolis, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  margin: 0px 0px 3px;
  text-align: center;
  padding: 5px;
}

.onclick-switch {
  opacity: 1;
  transform: translatex(800px);
  z-index: 10;
}

.bulb__mover--right {
  transform: translateX(75%);
  transition: 1s;
}

.bulb__mover--left {
  transform: translateX(-1050px);
  transition: 1s;
}

/*# sourceMappingURL=style2.css.map */
