@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?y17xxj");
  src: url("../fonts/icomoon.eot?y17xxj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?y17xxj") format("truetype"), url("../fonts/icomoon.woff?y17xxj") format("woff"), url("../fonts/icomoon.svg?y17xxj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-widok_01:before {
  content: "\e908";
}

.icon-widok_02:before {
  content: "\e909";
}

.icon-wysylka:before {
  content: "\e90a";
}

.icon-x:before {
  content: "\e90b";
}

.icon-icon_061:before {
  content: "\e90c";
}

@font-face {
  font-family: "Metropolis-bold";
  src: url(../fonts/Metropolis-Bold.otf);
}
@font-face {
  font-family: "Metropolis";
  src: url(../fonts/Metropolis-Light.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
  padding: 0 15px;
}

header {
  display: flex;
  flex-direction: column;
  height: 140px;
  font-family: "Metropolis-bold";
  text-transform: uppercase;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
}
header .header__container {
  display: flex;
}
header .header__container .header__top {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  border-bottom: 1px solid rgba(225, 226, 227, 0.2);
}
header .header__container .header__top img {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  header .header__container .header__top {
    width: 30%;
    margin-right: 100px;
    padding-right: 100px;
  }
}
header .header__container .header__searchBar {
  width: 100%;
  height: 50%;
}
@media (min-width: 768px) {
  header .header__container .header__searchBar {
    display: none;
  }
}
header .header__container .header__searchBar .header__searchBarBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .header__container .header__searchBar .header__searchBarBottom .input__searchBar {
  width: 13.875rem;
  height: 2.8125rem;
  text-align: center;
  font-size: 17px;
  border: 1px solid rgba(50, 57, 68, 0.3);
}
header .header__container .menuBar {
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #fff;
  font-family: Metropolis, Arial, sans-serif;
  text-transform: uppercase;
  z-index: 20;
}
header .header__container .menuBar .menuBar__stickyBottom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-size: 23px;
  border: 1px solid rgba(225, 226, 227, 0.2);
  z-index: 20;
  left: 0;
}
@media (min-width: 768px) {
  header .header__container .menuBar .menuBar__stickyBottom {
    position: inherit;
    width: 50%;
  }
}
header .header__container .menuBar .box__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 68px;
  border-right: 1px solid rgba(225, 226, 227, 0.2);
  text-align: center;
  transition: 0.3s;
}
header .header__container .menuBar .box__menu .box__item {
  font-size: 11px;
  padding: 3px;
  margin-bottom: -4px;
}
@media (min-width: 768px) {
  header .header__container .menuBar .box__menu {
    display: flex;
    width: 100%;
    padding-left: 75px;
  }
}
header .header__container .menuBar .shopping__cart {
  border: 0;
}
@media (min-width: 768px) {
  header .header__container .menuBar .menu {
    display: none;
  }
}
header .hamburger {
  position: fixed;
  top: 0;
  left: -800px;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-transform: uppercase;
  opacity: 0;
  z-index: -1;
}
header .hamburger .hamburger__category {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 14.8%;
  font-size: 17px;
  border-bottom: 1px solid rgba(225, 226, 227, 0.2);
  font-family: "Metropolis-bold";
}
header .hamburger .hamburger__category .hamburger__arrow {
  width: 10%;
  margin-left: 5%;
  margin-right: 4%;
}
header .hamburger .hamburger__category .hamburger__arrow .icon-icon_05 {
  font-size: 13px;
  border: 0;
  background-color: #ffffff;
}
header .hamburger .hamburger__category .hamburger__x {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 13px;
}
header .hamburger .hamburger__category .hamburger__x .icon-x {
  padding: 13px;
  font-size: 10px;
  background-color: #f3f1f1;
  border: 0;
}
header .hamburger .hamburger__searchBar {
  width: 100%;
  display: inline;
  justify-content: center;
  align-items: center;
}
header .hamburger .hamburger__searchBar .input__hamburger {
  height: 45px;
  width: 92%;
  text-indent: 20px;
  font-size: 15px;
  margin: 10px;
  border: 1px solid rgba(50, 57, 68, 0.3);
}
header .hamburger .hamburger__menu {
  width: 95%;
  height: 52%;
  margin-left: 11px;
}
header .hamburger .hamburger__menu .items__list {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(225, 226, 227, 0.2);
  font-family: Metropolis, Arial, sans-serif;
}
header .hamburger .hamburger__menu .items__list .products__ExpanderArrow {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: end;
}
header .hamburger .hamburger__menu .items__list .products__ExpanderArrow .expander__arrow {
  position: fixed;
  top: 29%;
  padding: 10px;
  border-left: 1px solid rgba(225, 226, 227, 0.2);
}
header .hamburger .hamburger__menu .items__list .products__ExpanderArrow .expander__arrow .icon-icon_04 {
  background-color: #ffffff;
  border: 0;
}
header .hamburger .hamburger__language {
  width: 50%;
  font-size: 15px;
  display: flex;
  padding: 13px;
  margin: 1px;
  background-color: #ffffff;
}
header .hamburger .hamburger__language .language__items {
  border-left: 1px solid rgba(225, 226, 227, 0.2);
  padding-left: 6px;
  font-family: Metropolis, Arial, sans-serif;
}

main {
  width: 100%;
  height: 1500px;
  background-color: #f2f3f4;
}
main .main__swiper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
main .slider__slide {
  display: none;
  z-index: 0;
}
main .slider__slide img {
  width: 100%;
  height: 200px;
  padding-left: 15px;
  padding-right: 15px;
}
main .slider__dots {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
main .slider__dots .slider__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
main .slider__dots .active,
main .slider__dots .slider__dot:hover {
  background-color: #f74137;
}
main .slider__dots .slider__transiton {
  transition: 1s;
}
main .banner__container {
  height: 100%;
}
@media (min-width: 768px) {
  main .banner__container {
    display: flex;
  }
}
main .banner__container img {
  width: 100%;
}
main .banner__container .banner__emptyField {
  padding-bottom: 8px;
}
main .banner__container .banner__item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
main .banner__container .banner__item .banner__textContainer {
  position: absolute;
  left: 0%;
  top: -11%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-family: Metropolis, Arial, sans-serif, "sans-seriff";
  color: #ffffff;
  z-index: 1;
}
main .banner__container .banner__item .banner__textContainer p {
  padding-left: 5%;
}
main .banner__container .banner__item .banner__textContainer p .heading {
  font-weight: bold;
  font-size: 1rem;
  bottom: 41%;
  left: 10%;
}
@media (min-width: 768px) {
  main .banner__container .banner__item .banner__textContainer p .heading {
    font-size: 1.5rem;
  }
}
main .banner__container .banner__item .banner__textContainer p .text {
  position: absolute;
  bottom: 41%;
  left: 10%;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  main .banner__container .banner__item .banner__textContainer p .text {
    font-size: 1.3rem;
  }
}
main .banner__container .banner__item .banner__textContainer p .seeMore {
  position: absolute;
  bottom: 12%;
  left: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18%;
  width: 40%;
  background-color: transparent;
  border: 1px solid rgba(225, 226, 227, 0.2);
  font-size: 0.8em;
  transition: 0.3s;
  background-color: tomato;
}
@media (min-width: 768px) {
  main .banner__container .banner__item .banner__textContainer p .seeMore {
    background-color: transparent;
  }
}
main .banner__container .banner__item .banner__textContainer p .seeMore:hover {
  background: tomato;
  transition: 0.3s;
}
main .banner__container .banner__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}
main .main__productsBanner {
  width: 100%;
  height: 650px;
}
main .main__productsBanner .products__TitleHeader {
  position: relative;
  width: 100%;
  height: 10%;
  font-family: "Metropolis-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(225, 226, 227, 0.2);
}
main .main__productsBanner .products__TitleHeader::after {
  background-color: #f74137;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 2.5rem;
}
main .main__productsBanner .products__container {
  display: flex;
  position: relative;
}
main .main__productsBanner .products__container .products__sliderButtons {
  position: absolute;
  display: flex;
  width: 100%;
  height: 0.1px;
  opacity: 0.5;
  top: 250px;
  z-index: 1;
}
@media (min-width: 320px) {
  main .main__productsBanner .products__container .products__sliderButtons {
    display: none;
  }
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderButtons {
    display: flex;
  }
}
main .main__productsBanner .products__container .products__sliderButtons .button__leftArrow {
  position: absolute;
  left: 0;
  border: 1px solid rgba(225, 226, 227, 0.2);
  background-color: #c1c2c6;
  color: #ffffff;
  width: 50px;
  height: 50px;
}
main .main__productsBanner .products__container .products__sliderButtons .button__rightArrow {
  position: absolute;
  right: 0;
  border: 1px solid rgba(225, 226, 227, 0.2);
  background-color: #c1c2c6;
  color: #ffffff;
  width: 50px;
  height: 50px;
}
main .main__productsBanner .products__container .products__sliderBulbs {
  overflow-x: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderBulbs {
    overflow: hidden;
    position: absolute;
  }
}
main .main__productsBanner .products__container .products__sliderBulbs .product__sliderScroll {
  width: 100%;
  display: flex;
  column-gap: 10px;
  max-width: 100%;
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderBulbs .product__sliderScroll {
    transition: 1s;
  }
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer {
  min-width: 280px;
  height: 500px;
  background-color: #ffffff;
  margin-top: 31px;
  width: 100%;
}
@media (min-width: 768px) {
  main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer {
    width: 20%;
  }
  main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer a:hover {
    background-color: #111111;
  }
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__picutreTile {
  width: 100%;
  height: 50%;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__picutreTile img {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileName {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
  margin-top: 110px;
  text-transform: uppercase;
  padding: 5px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileName .bulb__Name {
  font-family: "Metropolis-bold";
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileCode {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTileCode .productCode__Code {
  font-family: Metropolis, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  letter-spacing: -0.28px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice {
  padding-left: 31px;
  padding-right: 31px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.28px;
  color: #111111;
  font-size: 14px;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice .price__startingPrice {
  font-family: Metropolis, Arial, sans-serif;
  color: #a3a3a3;
  text-decoration: line-through;
  padding: 3px;
}
main .main__productsBanner .products__container .products__sliderBulbs .products__sliderBulbContainer .products__productTilePrice .price__promotionPrice {
  font-family: "Metropolis-bold";
  padding: 3px;
}
main .WhyUs .WhyUs__photo {
  position: relative;
  width: 100%;
  height: 550px;
  margin-top: 10%;
  background-image: url(/photos/img_02.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65%;
}
main .WhyUs .WhyUs__photo::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
main .WhyUs .WhyUs__text--field {
  position: relative;
  margin-left: 10%;
  margin-bottom: 10px;
  height: 35%;
  width: 80%;
  overflow: hidden;
}
main .WhyUs .WhyUs__text--field p {
  margin-top: 7%;
  margin-bottom: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-family: Metropolis, Arial, sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  main .WhyUs .WhyUs__text--field p {
    margin-top: 4%;
    margin-bottom: 3%;
  }
}
main .WhyUs .WhyUs__text--field p.bold {
  margin-top: 3%;
  font-weight: bold;
  font-size: 25px;
  font-family: "Metropolis-bold";
}
main .WhyUs .WhyUs__border--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .WhyUs .WhyUs__border--text {
  height: 2px;
  width: 100%;
  background-color: #fff;
  opacity: 40%;
  z-index: 10;
}
main .WhyUs .WhyUs__border--rectangle {
  width: 15%;
  height: 3px;
  background-color: #f74137;
  z-index: 1;
}
main .WhyUs .WhyUs__icons--container {
  height: 27%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .WhyUs .WhyUs__icon {
  width: 150px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 10;
  gap: 10px;
}
@media (min-width: 768px) {
  main .WhyUs .WhyUs__icon {
    width: 265px;
    height: 140px;
  }
}
main .WhyUs .WhyUs__btn--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .WhyUs .WhyUs__btn--container a {
  z-index: 1;
  margin-top: 2.5%;
}
main .WhyUs .WhyUs__company--info {
  width: 200px;
  height: 50px;
  background-color: #f74137;
  border: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

footer .footer__container {
  position: relative;
  width: 100%;
  height: 1350px;
  background-color: #393e40;
  bottom: 0;
}
@media (min-width: 768px) {
  footer .footer__container {
    height: 550px;
  }
}
footer .footer__containerList {
  width: 100%;
  height: 330px;
  font-size: 14px;
  color: #ffffff;
}
@media (min-width: 768px) {
  footer .footer__containerList {
    display: flex;
  }
}
footer .footer__containerList .list__element {
  padding: 15px;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element {
    width: 25%;
    height: 320px;
  }
}
footer .footer__containerList .list__element .information__heading {
  width: 100%;
  color: #ffffff;
  border-bottom: 1px solid rgba(225, 226, 227, 0.2);
  font-family: "Metropolis-bold";
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer .footer__containerList .list__element .information__heading .item__expandArrow {
  position: absolute;
  right: 0;
  margin-right: 15px;
  background-color: #393e40;
  border: 0;
  transform: rotate(90deg);
  transition: 0.6s;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element .information__heading .item__expandArrow {
    display: none;
  }
}
footer .footer__containerList .list__element .information__heading .item__expandArrow .icon-icon_05 {
  color: #ffffff;
  font-size: 17px;
}
footer .footer__containerList .list__element .information__heading .rotateArrow {
  rotate: 180deg;
}
footer .footer__containerList .list__element .item__listContainer {
  width: 100%;
  height: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element .item__listContainer {
    margin-top: 30px;
    display: flex;
  }
}
footer .footer__containerList .list__element .item__listContainer .elements__list {
  position: relative;
  font-family: Metropolis, Arial, sans-serif;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  footer .footer__containerList .list__element .item__listContainer .elements__list {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer .footer__containerList .list__element .height__switch {
  height: 235px;
  display: flex;
}
footer .footer__copyright {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  margin-bottom: 70px;
  padding: 30px 15px 30px;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .footer__copyright {
    margin: 0;
    flex-direction: row;
    height: 10px;
  }
}
footer .footer__copyright .cpright__element {
  font-family: Metropolis, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  margin: 0px 0px 3px;
  text-align: center;
  padding: 5px;
}

.onclick-switch {
  opacity: 1;
  transform: translatex(800px);
  z-index: 10;
}

.bulb__mover--right {
  transform: translateX(75%);
  transition: 1s;
}

.bulb__mover--left {
  transform: translateX(-1050px);
  transition: 1s;
}

/*# sourceMappingURL=style.css.map */
