@use "../css/icons.css";
@use "../css/fonts.css";
@use "./Variables" as variables;
@use "./usageMix" as usage;
@mixin productsBanner {
    .main__productsBanner {
		width: 100%;
		height: 650px;

		.products__TitleHeader {
			position: relative;
			width: 100%;
			height: 10%;
			font-family: "Metropolis-Bold";
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: variables.$border;
		}
		.products__TitleHeader::after {
			background-color: #f74137;
			bottom: 0;
			content: "";
			display: block;
			height: 3px;
			position: absolute;
			width: 2.5rem;
		}
		.products__container {
			position: relative;
			transition: 1s;
			.products__sliderButtons {
				@media (min-width: 320px) {
					display: none;
				}
				@media (min-width: 768px) {
					display: flex;
				}
				position: absolute;
				display: flex;
				width: 100%;
				height: 0.1px;
				opacity: 0.5;
				top: 250px;

				.button__leftArrow {
					position: absolute;
					left: 0;
					border: variables.$border;
					background-color: #c1c2c6;
					color: #ffffff;
					width: 50px;
					height: 50px;
				}
				.button__rightArrow {
					position: absolute;
					right: 0;
					border: variables.$border;
					background-color: #c1c2c6;
					color: #ffffff;
					width: 50px;
					height: 50px;
				}
			}
			.products__sliderBulbs {
				@media (min-width: 768px) {
					overflow: hidden;
				}
				display: flex;
				column-gap: 10px;
				max-width: 100%;
				overflow: auto;

				.products__sliderBulbContainer {
					@media (min-width: 768px) {
						min-width: auto;
						a:hover {
							background-color: #111111;
						}
					}
					min-width: 280px;
					height: 500px;
					background-color: #ffffff;
					margin-top: 31px;
					width: 100%;

					.products__picutreTile {
						width: 100%;
						height: 50%;
						img {
							margin-top: 50px;
							width: 100%;
							height: 100%;
						}
					}
					.products__productTileName {
						@include usage.Bulb-text;
						margin-top: 110px;
						text-transform: uppercase;
						padding: 5px;
						.bulb__Name {
							font-family: variables.$font;
						}
					}
					.products__productTileCode {
						@include usage.Bulb-text;
						.productCode__Code {
							font-family: variables.$font2;
							font-size: variables.$FontS;
							color: variables.$TextColor;
							letter-spacing: -0.28px;
						}
					}
					.products__productTilePrice {
						@include usage.Bulb-text;
						height: 15%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.price__startingPrice {
							font-family: variables.$font2;
							color: #a3a3a3;
							text-decoration: line-through;
							padding: 3px;
						}
						.price__promotionPrice {
							font-family: variables.$font;
							padding: 3px;
						}
					}
				}
			}
		}
	}
    
}