@use '../css/icons.css';
@use '../css/fonts.css';
@mixin centering{
  display: flex;
  justify-content: center;
  align-items: center;
}
$border: 1px solid #e1e2e3;
$font: 'Metropolis-bold';
$font2: Metropolis, Arial, sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
    
    a{
      text-decoration: none;
      color: black;
    }

}

header{
    flex-direction: column;
    height: 140px;
    font-family: $font;
    text-transform: uppercase;
    

    .header__top{
        @include centering();
        width: 100%;
        margin-top: 8px;
        border-bottom: $border;
        img{
          display: flex;
          width: 100%;
        }
    } 
    .header__searchBar{
      width: 100%;
      height: 50%;
      .header__searchBarBottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
          .input__searchBar{
            width: 13.875rem;
            height: 2.8125rem;
            text-align: center;
            font-size: 17px;
            border: 1px solid rgba(50, 57, 68,.3);
          }
      }
    }
    .menuBar{
      background-color: #333333;
      font-family: $font2;
      text-transform: uppercase;
      z-index: 20;
      
      .menuBar__stickyBottom{
          position: fixed;
          @include centering;
          align-content: flex-start;
          bottom: 0;
          width: 100%;
          background-color: white;
          font-size: 23px;
          border: $border;
          z-index: 20;
      }
      .box__menu{
          @include centering;
          width: 20%;
          height: 68px;
          border-right: $border;
          text-align: center;
          transition: .3s;
          
          
          
          .box__item{
            font-size: 11px;
            padding: 3px;
            margin-bottom: -4px;
          }
      }
    
      .shopping__cart{
          border: 0;
      }
    }
  }
  .hamburger{
    position: fixed;
    top: 0;
    left: -800px;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-transform: uppercase;
    opacity: 0;
    z-index: 1;

    .hamburger__category{
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      height: 14.8%;
      font-size: 17px;
      border-bottom: $border;
      font-family: $font;

      .hamburger__arrow{
        width: 10%;
        margin-left: 5%;
        margin-right: 4%;

      .icon-icon_05{
        font-size: 13px;
        border: 0;
        background-color: #ffffff;
      }
      }
      .hamburger__x{
        width: 100%;
        display: flex;
        justify-content: end;
        margin: 13px;
      .icon-x{
        padding: 13px;
        font-size: 10px;
        background-color: #f3f1f1;
        border: 0;
      }
    }
    }
    .hamburger__searchBar{
      width: 100%;
      display: inline;
      justify-content: center;
      align-items: center;
      .input__hamburger{
        height: 45px;
        width: 92%;
        text-indent: 20px;
        font-size: 15px;
        margin: 10px;
        border: 1px solid rgba(50, 57, 68,.3);
      }
    }
    .hamburger__menu{
      width: 95%;
      height: 52%;
      margin-left: 11px;
      .items__list{
        position: relative;
        padding: 3.7%;
        border-bottom: $border;
        font-family: $font2;
        .products__ExpanderArrow{
          position: fixed;
          left: 0;
          width: 100%;
          display: flex;
          justify-content: end;
          .expander__arrow{
            position: fixed;
            top: 29%;
            padding: 10px;
            border-left: $border;
            .icon-icon_04{
              background-color: #ffffff;
              border: 0;
            }
          }
        }
      }
    }
    .hamburger__language{
      width: 50%;
      font-size: 15px;
      display: flex;
      padding: 13px;
      margin: 1px;
      background-color: #ffffff;
      .language__items{
        border-left: $border;
        padding-left: 6px;
        font-family: $font2; 
      }
    }
  }
  .hamburger__productsMenu{
    position: fixed;
    top: 0;
    left: -800px;
    height: 87.9%;
    width: 85%;
    background-color: #ffffff;
    text-transform: uppercase;
    transition: 0.9s;
    opacity: 0;
    z-index: 2;
  }
  
main{
  width: 100%;
  height: 1500px;
  background-color: #f2f3f4;

  .main__swiper{
    width: 100%;
    position: relative;
    margin: 0 auto;
    }
    
    .slider__slide{
      display: none;
      z-index: 0;
      img{
        width: 100%;
        height: 200px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .slider__dots{
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
    
      .slider__dot{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active, .slider__dot:hover {
        background-color: #f74137;
      }
      .slider__transiton{
        transition: 1s;
      }
      
  }
  }
  .banner__emptyField{
    width: 100%;
    height: 20%;
    padding: 18px;
  }

  .banner__galleryHelp{
    width: 100%;
    display: flex;
    justify-content: center;

    img{
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }


.onclick-switch{
  opacity: 1;
  transform: translatex(800px);
}

.WhyUs {

  .WhyUs__photo {
    background-image: url(/photos/img_02.jpg);
    width: 100%;
    height: 450px;
    margin-top: 10%;
    // background-attachment: fixed;
	  background-size: cover;
	  background-repeat: no-repeat;
  }

  .WhyUs__text--field {
    margin-left: 10%;
    height: 45%;
    width: 80%;
    // background-color: #22262c;
    // opacity: 0.4;
    margin-bottom: 10px;
    overflow: hidden;
    
    p {
      margin-top: 7%;
      margin-bottom: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 15px;
    }
    p.bold {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .WhyUs__border--container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .WhyUs__border--text {
    height: 2px;
    width: 70%;
    background-color: #fff;
    opacity: 10%;
  }
  
  .WhyUs__border--rectangle {
    width: 10%;
    height: 3px;
    background-color: #F74137;
  }

  .WhyUs__icons--container {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .WhyUs__icon {
    width: 135px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .WhyUs__btn--container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .WhyUs__company--info {
    width: 200px;
    height: 50px;
    background-color: #F74137;
    border: none;
    margin-top: 5%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
  }

}